.quiz {
  background: linear-gradient(rgb(253, 107, 234), yellow, cyan);
  font-family: "Source Sans Pro", sans-serif;
  display: grid;
  place-items: center;
  padding-bottom: 2rem;
  border: solid blueviolet 0.1rem;
}

.correct {
  background-color: chartreuse;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding: 1rem;
}
.wrong {
  background-color: red;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding: 1rem;
}
.yes {
  background-color: rgb(252, 253, 253);
  border-radius: 35%;
}
.no {
  background-color: rgb(252, 253, 253);
  border-radius: 35%;
}
.end {
  background: linear-gradient(rgb(253, 107, 234), yellow, cyan);
  font-family: "Source Sans Pro", sans-serif;
  padding: 2rem;
  border: solid blueviolet 0.1rem;
}
