.quiz {
  background: linear-gradient(rgb(253, 107, 234), yellow, cyan);
  font-family: "Source Sans Pro", sans-serif;
  display: grid;
  place-items: center;
  padding-bottom: 2rem;
  border: solid blueviolet 0.1rem;
}
.yes,
.no {
  background-color: rgb(252, 253, 253);
  border: solid blueviolet 0.1rem;
  margin: 0.25rem;
}
.correct {
  background-color: chartreuse;
  border: solid white 0.1rem;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding: 1rem;
}
.wrong {
  background-color: rgb(253, 74, 113);
  border: solid white 0.1rem;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding: 1rem;
}
